.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  margin-top: 50px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: green;
}
.deletebtn{
   /* width: 100px;
  height: 30px;
  color: white; */
  background-color: red;
}
.tablediv{
  /* margin-top: 20px; */
  padding-top: 50px;
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
  text-align: center;
  align-items: center;

}
table{
  margin: auto;
}
table, th, td {
  border: 1px solid black;
}
.loader{
  padding-top: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  /* border: 1px solid red; */
}
.filterdiv{
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  margin: 30px 0px 20px 0px;
}
.filter {
  
  width: 150px;
  height: 50px;
  /* margin-top: 100px; */
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
} 
option{
  font-weight: bold;
}